.title-input-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transform: translateY(-90%);

  > button {
    background-color: inherit;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}