.title-editor-component {
  width: 800px;
  margin: auto auto 0;
  outline: none;
  line-height: 1.4;
  font-size: 45px;
  font-weight: 400;
  font-family: "Nanum Myeongjo", serif;
  color: #333333;

  &:empty::before {
    content: attr(data-placeholder);
    color: #cccccc;
  }

  &:hover {
    cursor: text;
  }

  &::selection {
    background-color: #B5D6FD;
  }
}

.title-editor-component.--active-background-image {
  color: #fff;
}