.post-page-component--loading {
  height: calc(100vh - 80px - 420px); //80px: ν—¤λ” height, 420px: ν‘Έν„° height
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-page-component {
  position: relative;
}