.carousel-article-component--loading {
  height: calc(100vh - 60px/*헤더*/ - 420px/*푸터*/);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-article-component {
  position: relative;

  .carousel-box-wrapper {
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}