.content-editor-box-component--editor-null {
  width: 800px;
  min-height: calc(100vh/*전체 화면*/ - 60px/*헤더*/ - 392px/*제목입력 컴포넌트*/);
  margin: 50px auto 50px;
}

.content-editor-box-component {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 800px;
  min-height: calc(100vh/*전체 화면*/ - 60px/*헤더*/ - 392px/*제목입력 컴포넌트*/);
  margin: 50px auto 50px;
}