.carousel-box-component {
  list-style-type: none;
  display: flex;
  gap: 25px;
  width: 900px;
  margin: 0 auto;
  padding: 0;
  
  .carousel-item-wrapper {
    flex-shrink: 0;
    width: 270px;

    > a {
      text-decoration: none;
    }
  }
}