  .content-component {
    position: relative;
    width: 800px;
    min-height: calc(100vh/*전체 화면*/ - 60px/*헤더*/ - 392px/*제목입력 컴포넌트*/);
    margin: 0 auto; /* 마진상쇄 방지하기위해 위, 아래는 padding으로 여백 */
    padding: 50px 0 100px;  /* 마진상쇄 방지하기위해 위, 아래는 padding으로 여백 */
    font-family: "Nanum Myeongjo", serif;
    color: rgb(97, 97, 97);

    > p {
      line-height: 30px;
      text-align: left;
    }

    > blockquote {
      text-align: center;
      font-size: 20px;

      > p {
        margin: 20px 0;
      }
    }

    > blockquote::before {
      content: "“";
      display: block;
      height: 25px;
      font-size: 2.5em;
      color: #888;
    }

    > blockquote::after {
      content: "”";
      display: block;
      height: 25px;
      font-size: 2.5em;
      color: #888;
    }

    p::selection {
      background-color: #B5D6FD;
    }
  }