.title-box-component {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 230px 0 50px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgb(206, 206, 206);
}