.post-thumbnail-component {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 600px;

  .thumbnail-wrapper {
    margin-bottom: 22px;

    .thumbnail {
      width: 100%;
      height: auto;
    }
  }

  .title-wrapper {
    max-height: 50%;

    .title {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      margin: 0;
      padding: 0;
      letter-spacing: 1px;
      line-height: 1.5;
      font-size: 16px;
      font-weight: 400;
      color: #333333;
    }
  }

  .content-wrapper {
    flex-grow: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    line-clamp: 10;
    padding-top: 10px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 13px;
    color: #959595;
  }

  .creator-wrapper {
    padding-top: 20px;
    text-align: end;
    font-size: 13px;
    color: #959595;

    > svg {
      position: relative;
      top: 2px;
      margin-right: 5px;
    }
  }
}