.content-editor-toolbar-component {
  align-self: flex-start;
  position: sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 1em;

  > button {
    background-color: inherit;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}